html,body{
    height:100%;
    width:100%;
    margin:0;
    background-color:#1c1a2f;
}
.frame{
    width:400px;
    border:white 2px solid;
    border-radius:10px;
    margin:auto;
    margin-top:15px;
    margin-bottom:15px;
}
.txt{
    color:white;
    font-size:15px;
    font-family:sans-serif;
}
.first{
    text-align:center;
    padding:25px;
    margin:auto;
}
.second{
    text-align:center;
    display:inline-block;
    padding:25px;
}
.third{
    text-align:center;
    display:inline-block;
    padding:5px;
    padding-right:35px;
}
.fourth{
    text-align:center;
    display:inline-block;
    padding:5px;
    padding-right:17px;
}
.fifth{
    display:block;
    margin:auto;
    margin-bottom:20px;
    background-color:#494859;
    height:25px;
}
.sixth{
    margin:0px 25px 00px 25px;
    background-color:#494859;
    height:25px;
    width:75px;
}
.img{
    height:25px;
    width:25px;
    display:inline-block;
    border:2px solid gray;
    border-top-left-radius:5px;
    border-bottom-left-radius:5px;
    background-repeat:no-repeat;
    vertical-align:middle;
    background-size:100%;
}
.log{
    background-image:url(login.png);
}
.pas{
    background-image:url(password.png);
}
.form{
    height:23px;
    width:125px;
    display:inline-block;
    border:2px solid gray;
    border-top-right-radius:5px;
    border-bottom-right-radius:5px;
    vertical-align:middle;
    background-color:#494859;
}
.x{
    vertical-align:middle;
    text-align:center;
}
fieldset{
    margin:auto;
    margin-top:25px;
    margin-bottom:25px;
    width:200px;
    text-align:center;
}
.mar{
    margin:25px;
}
.pad{
    padding:0px 40px 0px 40px;
}
.pad1{
    padding:20px 50px 20px 75px;
}
